<html>
    <head>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Passion One' rel='stylesheet'>


        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
    <body class="align-items-center rounded-3">
    <h1 class="text-center" style="font-weight: 400">Shoe Brand Detection</h1>
    <div class="row mb-3">
        <div class="container py-5 m-auto d-flex justify-content-center align-items-center bg-light" style="max-width: 35%; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 25px">
             <div>
                <form method="post" action="/predict" enctype="multipart/form-data" class="form">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                      </div>
                      <div class="custom-file">
                        <input type="file" name="data" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
                    </div>
                    <button type="submit" value="submit" class="btn btn-primary">Submit</button>
                </form>
                <script>
                    $('#inputGroupFile01').on('change',function(){
                        var fileName = $(this).val();
                        $(this).next('.custom-file-label').html(fileName);
                    })
                </script>
             </div>
        </div>
</div>
        {% if img_url %}
        <div class="row px-5">
            <div class="col">
                <div class="max-h container p-5 m-auto bg-light d-flex justify-content-center align-items-center" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 25px">
                    <img src="{{ img_url }}" style="max-width: 100%"/>
                </div>
            </div>
            <div class="col h-100">
                <div class="max-h container p-5 m-auto bg-light d-flex justify-content-center align-items-center" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 25px">
                    <img id="brend" class="invisible" src="{{ logo_url }}" style="max-width: 100%"/>
                    <span class="loader"></span>

                </div>
            </div>
        </div>
        <h2 id="confidence" class="text-center" style="font-weight: 400">Result Confidence: {{ score }}%</h2>
    {% endif %}
    </body>

    <script>
        $(document).ready(function () {
            const oldVal =  $("#confidence").innerHTML
            const interval = setInterval(function () {
                const num = (Math.random() * 100).toFixed(2);
                console.log("ooooooooo");
                $("#confidence").html("Result Confidence: " + num + "%");
            }, 100)
            setTimeout(function () {
                clearInterval(interval)
                $("#brend").removeClass("invisible");
                $(".loader").addClass("invisible");

                $("#confidence").html("Result Confidence: " + {{ score }} + "%");
                //$("#confidence").removeClass("invisible")

            }, 3001)




        })
    </script>
</html>